<navbar></navbar>

<div class="container">
  <p>Page to request more beer.</p>

	<!--
	Request fields:
		1.Total Kegs
		2.Keg size
		3.Beer name
		4.Notes
		5.status
		6.Timestamp
		7.Client Name
		8.Client ID
		9.order price - need to create a collection with keg prices.

	-->

    <form class="form" ng-submit="edit()" ng-controller="RequestController">
      
      <div class="form-group">
      <label><strong>Select the Keg(s) capacity</strong></label>
      <select class="form-control" name="units" ng-model="unit">
        <option value="5">5 gallons [18.93 liters]</option>
        <option value="8" >8 gallons [30.28 liters]</option>
        <option value="12">12 gallons [45.42 liters]</option>
      </select><br><br>
      </div>

      <div class="form-group">
      <label><strong>Type the number of Kegs for this order</strong></label>
      <textarea class="form-control" ng-model="quantity" rows="1">{{request.total_kegs}}</textarea><br>
      </div>

      <div class="form-group">
      <label><strong>Select the Beer you want to order</strong></label>
      <select class="form-control" name="beers" ng-model="beer_name">
        <option ng-repeat="b in beers" value="{{b.name}}">{{b.name}}</option>
      </select><br>
      </div>

      <div class="form-group">
      <label><strong>Request Notes</strong></label>
      <textarea class="form-control" ng-model="notes" rows="4">{{requestnotes}}</textarea><br>
      </div>

      <div class="form-group">
      <label><strong>Order status</strong></label>
      <textarea class="form-control" ng-model="status" rows="1">{{request.status}}</textarea><br>
      </div>

      <div class="form-group">
      <label><strong>Order time and date</strong></label>
      <textarea class="form-control" ng-model="timestamp" rows="1">{{request.timestamp}}</textarea><br>
      </div>

      <div class="form-group">
      <label><strong>Client Name</strong></label>
      <textarea class="form-control" ng-model="clientname" rows="1">{{request.client_name}}</textarea><br>
      </div>

      <div class="form-group">
      <label><strong>Order price</strong></label>
      <textarea class="form-control" ng-model="price" rows="1"></textarea>{{request.order_price}}<br>
      </div>
      
      <input type="hidden" ng-model="clientid" value="{{request.client_id}}">
      
      <div class="form-group">      
      <input type="submit" id="submit" value="Save Request" class="btn btn-lg btn-primary"></input>
      </div>
    </form>

</div>